<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-endereco-heading" data-cy="EnderecoCreateUpdateHeading" jhiTranslate="plataformaAulasApp.endereco.home.createOrEditLabel">
        Criar ou editar Endereco
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="plataformaAulasApp.endereco.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_rua" jhiTranslate="plataformaAulasApp.endereco.rua">Rua</label>
          <input type="text" class="form-control" name="rua" id="field_rua" data-cy="rua" formControlName="rua" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cep" jhiTranslate="plataformaAulasApp.endereco.cep">Cep</label>
          <input type="text" class="form-control" name="cep" id="field_cep" data-cy="cep" formControlName="cep" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cidade" jhiTranslate="plataformaAulasApp.endereco.cidade">Cidade</label>
          <input type="text" class="form-control" name="cidade" id="field_cidade" data-cy="cidade" formControlName="cidade" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_estado" jhiTranslate="plataformaAulasApp.endereco.estado">Estado</label>
          <input type="text" class="form-control" name="estado" id="field_estado" data-cy="estado" formControlName="estado" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_pais" jhiTranslate="plataformaAulasApp.endereco.pais">Pais</label>
          <select class="form-control" id="field_pais" data-cy="pais" name="pais" formControlName="pais" [compareWith]="comparePais">
            <option [ngValue]="null"></option>
            @for (paisOption of paisCollection; track $index) {
              <option [ngValue]="paisOption">{{ paisOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
