<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-pais-heading" data-cy="PaisCreateUpdateHeading" jhiTranslate="plataformaAulasApp.pais.home.createOrEditLabel">
        Criar ou editar Pais
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="plataformaAulasApp.pais.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_nomeDoPais" jhiTranslate="plataformaAulasApp.pais.nomeDoPais">Nome Do Pais</label>
          <input
            type="text"
            class="form-control"
            name="nomeDoPais"
            id="field_nomeDoPais"
            data-cy="nomeDoPais"
            formControlName="nomeDoPais"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_local" jhiTranslate="plataformaAulasApp.pais.local">Local</label>
          <select class="form-control" id="field_local" data-cy="local" name="local" formControlName="local" [compareWith]="compareLocal">
            <option [ngValue]="null"></option>
            @for (localOption of localsCollection; track $index) {
              <option [ngValue]="localOption">{{ localOption.nomeDoLocal }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
