<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-professor-heading"
        data-cy="ProfessorCreateUpdateHeading"
        jhiTranslate="plataformaAulasApp.professor.home.createOrEditLabel"
      >
        Criar ou editar Professor
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="plataformaAulasApp.professor.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_nome" jhiTranslate="plataformaAulasApp.professor.nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_sobrenome" jhiTranslate="plataformaAulasApp.professor.sobrenome">Sobrenome</label>
          <input type="text" class="form-control" name="sobrenome" id="field_sobrenome" data-cy="sobrenome" formControlName="sobrenome" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_email" jhiTranslate="plataformaAulasApp.professor.email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_numeroTelefone" jhiTranslate="plataformaAulasApp.professor.numeroTelefone"
            >Numero Telefone</label
          >
          <input
            type="text"
            class="form-control"
            name="numeroTelefone"
            id="field_numeroTelefone"
            data-cy="numeroTelefone"
            formControlName="numeroTelefone"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ingresso" jhiTranslate="plataformaAulasApp.professor.ingresso">Ingresso</label>
          <div class="d-flex">
            <input
              id="field_ingresso"
              data-cy="ingresso"
              type="datetime-local"
              class="form-control"
              name="ingresso"
              formControlName="ingresso"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_materiaLecionada" jhiTranslate="plataformaAulasApp.professor.materiaLecionada"
            >Materia Lecionada</label
          >
          <input
            type="text"
            class="form-control"
            name="materiaLecionada"
            id="field_materiaLecionada"
            data-cy="materiaLecionada"
            formControlName="materiaLecionada"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_registroProfissional" jhiTranslate="plataformaAulasApp.professor.registroProfissional"
            >Registro Profissional</label
          >
          <input
            type="text"
            class="form-control"
            name="registroProfissional"
            id="field_registroProfissional"
            data-cy="registroProfissional"
            formControlName="registroProfissional"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_servico" jhiTranslate="plataformaAulasApp.professor.servico">Servico</label>
          <select
            class="form-control"
            id="field_servico"
            data-cy="servico"
            name="servico"
            formControlName="servico"
            [compareWith]="compareServico"
          >
            <option [ngValue]="null"></option>
            @for (servicoOption of servicosCollection; track $index) {
              <option [ngValue]="servicoOption">{{ servicoOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
