<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (servico(); as servicoRef) {
      <div>
        <h2 data-cy="servicoDetailsHeading"><span jhiTranslate="plataformaAulasApp.servico.detail.title">Servico</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ servicoRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="plataformaAulasApp.servico.startDate">Start Date</span></dt>
          <dd>
            <span>{{ servicoRef.startDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="plataformaAulasApp.servico.endDate">End Date</span></dt>
          <dd>
            <span>{{ servicoRef.endDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="plataformaAulasApp.servico.nomeDoServico">Nome Do Servico</span></dt>
          <dd>
            <span>{{ servicoRef.nomeDoServico }}</span>
          </dd>
          <dt><span jhiTranslate="plataformaAulasApp.servico.resumo">Resumo</span></dt>
          <dd>
            <span>{{ servicoRef.resumo }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/servico', servicoRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
